<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <style>-->
<!--        h1 {text-align: center;}-->
<!--        p {text-align: center;}-->
<!--        form {text-align: center;}-->
<!--    </style>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Films</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>GhibliHub Login<br></h1>-->
<!--<p>Please Log In or Create a new Account:<br></p>-->
<!--<form action>-->
<!--    <input type="radio" id="Eu" name="fav_language" value="HTML">-->
<!--    <label for="Eu">Existing User</label><br>-->
<!--    <input type="radio" id="Nu" name="fav_language" value="HTML">-->
<!--    <label for="Nu">New User</label><br>-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->