<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        form {text-align: center;}
        h2 {text-align: center;}
        a {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhibliHub Home</title>
</head>
<body>
<h1>Welcome to GhibliHub!<br>The home for all Ghibli fans!<br></h1>
<p>You are about to enter a haven exclusively for Studio Ghibli fans.<br></p>
<p>Once you have created an account and logged in, the community will<br></p>
<p>welcome you with open arms. Review movies, engage in discussions, and<br></p>
<p>overall have a relaxing time. We hope you enjoy your stat at GhibliHub!</p>
<center>
    <a href="films">Click here to ENTER</a>
    <a href="films">Click here to ENTER</a>
</center>


</form>
</body>
</html>