<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        form {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhibliHub Login</title>
</head>
<body>
<h1>GhibliHub Login<br></h1>
<p>Please log in or create a new account:<br></p>
<form action="" method="GET">
    <label>Username</label>
    <input name="Username">
    <br>
    <label>Password</label>
    <input name="Password"><br><br>
    <button>Submit</button>
</form>
<form>
    <a href="/users/login/newuser">Create new user account</a>
</form>
</body>
</html>